<div class="main">
<section>
    <div class="containerr">
        <div class="row d-flex justify-content-center align-items-center h-100" >
            <div class="col col-xl-12">
              <div class="card" style="border-radius: 1rem;"  style=" height: 36.6em; background: #cfac54; ">
                <div class="row g-0">
                  <div style="height: 100%;" class="col-md-6 col-lg-5 d-none d-md-block">
                    <img src="../../../assets/images/img-18.jpg"
                      alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                  </div>
                  <div class="col-md-6 col-lg-7 d-flex align-items-center">
                    <div class="card-body p-4 p-lg-5 text-black">
      
                      <form [formGroup]="loginForm" (ngSubmit)="login()">
      
                        <div class="d-flex align-items-center mb-3 pb-1">
                          <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                          <span class="h1 fw-bold mb-0">.Flick</span>
                        </div>
      
                        <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Sign into your account</h5>
      
                        <div class="form-outline mb-4">
                          <input formControlName="email" #email type="email" id="form2Example17" class="form-control form-control-lg" />
                          <label class="form-label" for="form2Example17">Email address</label>
                          
                        </div>
      
                        <div class="form-outline mb-4">
                          <input formControlName="password" #password type="password" id="form2Example27" class="form-control form-control-lg" />
                          <label class="form-label" for="form2Example27">Password</label>
                        </div>
      
                        <div class="pt-1 mb-4">
                          <button  class="btn btn-dark btn-lg btn-block" type="submit">Login</button>
                        </div>
      
                        
                        <p class="mb-5 pb-lg-2" style="color: #ffffff;">Don't have an account? <a routerLink="/signup" href="#!"
                            style="color: #ffffff;">Register here</a></p>
                        <a href="https://www.canva.com/policies/ai-product-terms/" class="small text-muted">Terms of use.</a>
                        <a href="https://www.canva.com/policies/ai-product-terms/" class="small text-muted">Privacy policy</a>
                      </form>
      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
    </div>
</section>
</div>