<div class="header">
    <div class="logo" style="margin-left: 5em;">
      <a href="home" ><img style="height: 4em; border-radius: 1em;" src="../../../assets/images/logo.png" alt=""></a>
    </div>
    <div style="margin-right: 5em;">
      <a  href="https://portfolio-85a42.web.app/contact" target="_blank"><h2  style="color: rgb(52, 54, 56); font-weight: bold;"><span class="bi bi-telephone-fill"></span>Contact</h2></a>
    </div>
  </div>
  
  <section class="image-generator">
    <div class="content text">
      <h1>Flick AI Image Generator </h1>
      <p>Convert your text into an image within a second using this
        powereful AI Image Generator tool.</p>
      <div class="generate-form">
        <input #inputText class="prompt-input" type="text" placeholder="Describe what you want to see" required>
        <div class="controls">
          <select style="color: black;" #imgSize class="img-quantity">
            <option [value]="1" selected>1 Image</option>
            <option [value]="2">2 Images</option>
            <option [value]="3">3 Images</option>
            <!--  <option value="4" >4 Images</option> -->
          </select>
          <button (click)="generateImage(inputText,imgSize.value)" type="submit"
            class="generate-btn">{{isImageGenerating?"Generating":"Generate"}}</button>
        </div>
      </div>
    </div>
  </section>
  <section class="image-gallery">
    <ng-container *ngFor="let item of listOfImages">
      <div class="img-card" [class.loading]="isImageGenerating" [class.oneimage]="imageone">
        <img [src]="item.url">
        <a class="download-btn" [download]="'AI_image.jpg'" [href]="item.url">
          <img src="assets/images/download.svg" title="Download image" alt="download icon">
        </a>
      </div>
    </ng-container>
  </section>
  
  