.main{
    width: 100%;
    height: 100%;
    display: flex;
    background: linear-gradient(247.2deg,#b5b9e6 8.64%,#f7f8fc 52.48%,#e0d6b6 86.51%);
    background-size: cover;
}

section{
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
    display: flex;
    justify-content: center;
    align-items: center;
    
}



section .containerr{
    width: 40%;
    height: 61%;
    border: none;
    backdrop-filter: blur(10px);
    opacity: 0.9;
    transition: 1s ease;
}

section .containerr:hover{
    opacity: 1;
    border-radius: 1.5%;
    box-shadow: 3px 5px 9px 7px rgba(44, 48, 46, 0.445);
    cursor:grab;
}

label{
    color: rgb(0, 0, 0);
    font-weight: bold;
}




@media screen and (max-width: 1300px) {
    .img-fluid {
        max-width: 100%;
        height: 36.5rem;
    }
    .p-lg-5 {
        padding: 1rem !important;
    }
  }
  
  @media screen and (max-width: 500px) {
    
  }